body{

margin:0;
font-family:Poppins;
background:#0f1f17;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px 40px;
background:#0a140f;
position:fixed;
width:100%;

}

nav a{

margin:15px;
color:white;
text-decoration:none;
font-weight:500;

}

.logo{

font-weight:700;
font-size:22px;
color:#7CFC00;

}

.hero{

height:100vh;
background:url("https://images.unsplash.com/photo-1474511320723-9a56873867b5");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

}

.hero h1{

font-size:60px;

}

.hero button{

padding:15px 35px;
font-size:18px;
background:#7CFC00;
border:none;
cursor:pointer;
margin-top:20px;

}

.mision{

padding:100px 20px;
text-align:center;
background:#13261c;

}

.especies{

padding:100px 20px;
text-align:center;

}

.cards{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:#13261c;
width:260px;
border-radius:10px;
overflow:hidden;
transition:0.4s;

}

.card:hover{

transform:scale(1.08);

}

.card img{

width:100%;
height:180px;
object-fit:cover;

}

.galeria{

padding:100px 20px;
text-align:center;
background:#13261c;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;

}

.grid img{

width:100%;
height:200px;
object-fit:cover;

}

.contacto{

padding:100px 20px;
text-align:center;

}

.contacto input, textarea{

display:block;
margin:10px auto;
padding:12px;
width:300px;
border:none;

}

.contacto button{

padding:12px 30px;
background:#7CFC00;
border:none;
cursor:pointer;

}

footer{

background:black;
text-align:center;
padding:30px;

}
